@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .active {
        @apply text-orange-400;
    }
}

@media (max-width: 768px) {
    .navbar-container {
        flex-direction: column;
        @apply p-4;
    }
}
.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.translate-x-1 {
  transform: translateX(-50%);
}

.translate-y-1 {
  transform: translateY(-50%);
}
